* {
  margin: 0;
  padding: 0;
}
/* common shared styles */

body {
  font-family: "Open Sans", sans-serif;
}

.text-primary {
  color: #fd6e0a;
}

.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  padding: 18px 35px;
}

.btn-primary i {
  margin-right: 10px;
}

.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

/* navbar related styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 200px;
}

.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}

nav > ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 50px;
}

nav li:last-child {
  margin-right: 0;
}

nav li a {
  text-decoration: none;
  color: #474747;
}

/* header related styles */

.header {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, left top;
  padding-top: 50px;
}

.banner {
  padding: 30px 30px 0px 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-content {
  max-width: 585px;
}

.banner .banner-greeting {
  color: #474747;
  font-size: 45px;
  font-weight: 600;
}

.banner .banner-title {
  color: #181818;
  font-size: 85px;
  font-weight: 700;
  margin-top: 5px;
}

.banner p {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 20px 0 30px;
}

/* main section styles */

main {
  max-width: 1140px;
  margin: 0 auto;
}

/* about section styles */

.about {
  border-radius: 10px;
  background: #fff8f3;
  padding: 130px;
  margin: 130px 0;
}

.about .title-and-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about .title-and-description .section-description {
  margin: 30px 0 30px;
  width: 827px;
}

.about .about-info-container {
  display: flex;
  justify-content: space-around;
}

.about .about-info-container .about-info {
  text-align: center;
}

.about .about-info-container .about-info .info-title {
  color: #757575;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.about .about-info-container .about-info .info-description {
  color: #474747;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

/* what i do section styles */

.what-i-do {
  margin-bottom: 130px;
}

.what-i-do .section-description {
  margin: 30px auto 50px;
  width: 909px;
}

.what-i-do .skills-container {
  display: flex;
  justify-content: space-between;
}

.what-i-do .skills-container .skill {
  padding: 30px 33px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.what-i-do .skills-container .skill .skill-title {
  margin: 30px 0 20px;
  color: #181818;
  font-size: 20px;
  font-weight: 700;
}

.what-i-do .skills-container .skill .skill-description {
  width: 201px;
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

/* resume section start */

.resume {
  width: 1140px;
  margin: 0 auto 113px;
}

.resume-container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-top: 113px;
}

.resume-column {
  max-width: 558px;
}

.resume-column-title {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
}

.resume-item-title {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
  margin: 30px 0 10px;
}

.resume-item-institute {
  color: #757575;
  font-size: 20px;
  font-weight: 600;
}

.resume-item-description {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin: 20px 0 30px;
  max-width: 490px;
}

.resume-column hr {
  width: 100%;
}

.download-cv-btn {
  text-align: center;
  margin-top: 20px;
}

/* footer section styles */

.footer {
  background: #fff8f3;
  padding: 130px 0;
}

.footer-container {
  display: flex;
  width: 1140px;
  margin: 0 auto;
}

.footer-column {
  width: 50%;
}

.footer-column .section-title {
  text-align: left;
}

.footer-column .section-description {
  width: 562px;
  color: #474747;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  margin: 20px 0 30px;
}

.footer-container .right {
  padding-left: 117px;
}

.social-links a {
  margin-right: 24px;
}

.social-links a:last-child {
  margin-right: 0;
}

.footer-form {
  margin-top: 28px;
}

.footer-form input[type="text"],
.footer-form input[type="email"],
textarea {
  display: block;
  width: 100%;
  padding: 18px 30px;
  margin-bottom: 24px;
  border: 0;
  border-radius: 5px;
  background: #fff;
}

.footer-form input[type="text"]:focus,
.footer-form input[type="email"]:focus,
textarea:focus {
  outline: 0;
}

/* responsive styles */
@media screen and (max-width: 576.98px) {
  .hide {
    display: none;
  }
  .what-i-do .skills-container {
    display: flex;
    flex-direction: column;
  }

  .what-i-do .section-description {
    width: auto;
    padding: 0 20px;
  }

  .what-i-do .skills-container .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }

  .what-i-do .skills-container .skill .skill-description {
    text-align: center;
    width: auto;
  }
}
